.input-fl {
    text-align: center;
}

input {
    padding: 10px 50px;
}

button {
    padding: 10px 10px;
}

h1 {
    text-align: center;
}

.alldata {
    text-align: center;
}

.alldata button {
    padding: 10px 70px;
}

.edit {
    background-color: yellow;
}

.del {
    background-color: crimson;
}